cms/admin/inc/AdminService.xml

<?xml version='1.0' encoding='UTF-8'?>
<s0:definitions name="AdminServiceDefinitions" targetNamespace="http://pbv.posten.se/webservice" xmlns="" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://pbv.posten.se/webservice" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/">
  <s0:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="java:se.posten.pbv.payment.card.prepaid" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://pbv.posten.se/webservice" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="BalanceInquiry">
        <xs:sequence>
          <xs:element minOccurs="1" name="ResultValue" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="CardStatus" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Balance" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="ExpiryDate" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TransactionItem">
        <xs:sequence>
          <xs:element minOccurs="1" name="TransactionID" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Date" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Time" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="PosID" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="TransactionType" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="TransactionResult" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Store" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Currency" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Amount" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://pbv.posten.se/webservice" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://pbv.posten.se/webservice" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="java:se.posten.pbv.webservice"/>
      <xs:complexType name="ArrayOfJavaLangstring_literal">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="JavaLangstring" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="ArrayOfJavaLangstring_literal" type="web:ArrayOfJavaLangstring_literal" xmlns:web="http://pbv.posten.se/webservice"/>
      <xs:complexType name="ArrayOflong_literal">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="long" nillable="false" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="ArrayOflong_literal" type="web:ArrayOflong_literal" xmlns:web="http://pbv.posten.se/webservice"/>
      <xs:complexType name="ArrayOfAdminExtendedResponse_literal">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="AdminExtendedResponse" nillable="true" type="java:AdminExtendedResponse" xmlns:java="java:se.posten.pbv.webservice"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="ArrayOfAdminExtendedResponse_literal" type="web:ArrayOfAdminExtendedResponse_literal" xmlns:web="http://pbv.posten.se/webservice"/>
      <xs:element name="recurPay">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="merchantid" type="xs:long"/>
            <xs:element name="subscriptionid" type="xs:long"/>
            <xs:element name="customerrefno" type="xs:string"/>
            <xs:element name="amount" type="xs:long"/>
            <xs:element name="vat" type="xs:long"/>
            <xs:element name="mac" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="recurPayResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="java:AdminResponse" xmlns:java="java:se.posten.pbv.webservice"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ping">
        <xs:complexType>
          <xs:sequence/>
        </xs:complexType>
      </xs:element>
      <xs:element name="pingResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="java:AdminPingResponse" xmlns:java="java:se.posten.pbv.webservice"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="supAuth">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="merchantid" type="xs:long"/>
            <xs:element name="transactionid" type="xs:long"/>
            <xs:element name="amount" type="xs:long"/>
            <xs:element name="vat" type="xs:long"/>
            <xs:element name="mac" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="supAuthResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="java:AdminExtendedResponse" xmlns:java="java:se.posten.pbv.webservice"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="query">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="merchantid" type="xs:long"/>
            <xs:element name="customerrefno" type="xs:string"/>
            <xs:element name="mac" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="queryResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="java:AdminExtendedResponse" xmlns:java="java:se.posten.pbv.webservice"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="balanceInquiry">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="merchantid" type="xs:long"/>
            <xs:element name="object" type="xs:string"/>
            <xs:element name="mac" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="balanceInquiryResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="java:AdminBalanceResponse" xmlns:java="java:se.posten.pbv.webservice"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="creditAnnul">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="merchantid" type="xs:long"/>
            <xs:element name="transactionid" type="xs:long"/>
            <xs:element name="mac" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="creditAnnulResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="java:AdminResponse" xmlns:java="java:se.posten.pbv.webservice"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="batchList">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="merchantid" type="xs:long"/>
            <xs:element name="date" type="xs:string"/>
            <xs:element name="mac" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="batchListResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="java:AdminBatchListResponse" xmlns:java="java:se.posten.pbv.webservice"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="confirm">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="merchantid" type="xs:long"/>
            <xs:element name="transactionid" type="xs:long"/>
            <xs:element name="deliverydate" type="xs:string"/>
            <xs:element name="mac" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="confirmResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="java:AdminResponse" xmlns:java="java:se.posten.pbv.webservice"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="multiquery">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="merchantid" type="xs:long"/>
            <xs:element name="custrefnoList" type="web:ArrayOfJavaLangstring_literal" xmlns:web="http://pbv.posten.se/webservice"/>
            <xs:element name="mac" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="multiqueryResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="web:ArrayOfAdminExtendedResponse_literal" xmlns:web="http://pbv.posten.se/webservice"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getBatch">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="merchantid" type="xs:long"/>
            <xs:element name="batchId" type="xs:long"/>
            <xs:element name="mac" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getBatchResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="java:AdminBatchResponse" xmlns:java="java:se.posten.pbv.webservice"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="uccheck">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="merchantid" type="xs:long"/>
            <xs:element name="object" type="xs:string"/>
            <xs:element name="mac" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="uccheckResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="java:AdminResponse" xmlns:java="java:se.posten.pbv.webservice"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="capture">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="merchantid" type="xs:long"/>
            <xs:element name="transactionid" type="xs:long"/>
            <xs:element name="mac" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="captureResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="java:AdminResponse" xmlns:java="java:se.posten.pbv.webservice"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="credit">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="merchantid" type="xs:long"/>
            <xs:element name="transactionid" type="xs:long"/>
            <xs:element name="amount" type="xs:long"/>
            <xs:element name="vat" type="xs:long"/>
            <xs:element name="mac" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="creditResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="java:AdminResponse" xmlns:java="java:se.posten.pbv.webservice"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="transactionList">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="merchantid" type="xs:long"/>
            <xs:element name="object" type="xs:string"/>
            <xs:element name="mac" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="transactionListResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="java:AdminTransactionListResponse" xmlns:java="java:se.posten.pbv.webservice"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="query2">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="merchantid" type="xs:long"/>
            <xs:element name="transactionid" type="xs:long"/>
            <xs:element name="mac" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="query2Response">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="java:AdminExtendedResponse" xmlns:java="java:se.posten.pbv.webservice"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="multiquery2">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="merchantid" type="xs:long"/>
            <xs:element name="transactionList" type="web:ArrayOflong_literal" xmlns:web="http://pbv.posten.se/webservice"/>
            <xs:element name="mac" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="multiquery2Response">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="web:ArrayOfAdminExtendedResponse_literal" xmlns:web="http://pbv.posten.se/webservice"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="authRev">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="merchantid" type="xs:long"/>
            <xs:element name="transactionid" type="xs:long"/>
            <xs:element name="amount" type="xs:long"/>
            <xs:element name="vat" type="xs:long"/>
            <xs:element name="mac" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="authRevResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="java:AdminResponse" xmlns:java="java:se.posten.pbv.webservice"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="annul">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="merchantid" type="xs:long"/>
            <xs:element name="transactionid" type="xs:long"/>
            <xs:element name="mac" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="annulResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="java:AdminResponse" xmlns:java="java:se.posten.pbv.webservice"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="prepaidQuery">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="merchantid" type="xs:long"/>
            <xs:element name="transactionid" type="xs:long"/>
            <xs:element name="mac" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="prepaidQueryResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="java:AdminPrepaidQueryResponse" xmlns:java="java:se.posten.pbv.webservice"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="recurPay2">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="merchantId" type="xs:long"/>
            <xs:element name="subscriptionRefNo" type="xs:string"/>
            <xs:element name="customerRefNo" type="xs:string"/>
            <xs:element name="amount" type="xs:long"/>
            <xs:element name="vat" type="xs:long"/>
            <xs:element name="mac" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="recurPay2Response">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="java:AdminResponse" xmlns:java="java:se.posten.pbv.webservice"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="java:se.posten.pbv.db.batch" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://pbv.posten.se/webservice" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="BatchItem">
        <xs:sequence>
          <xs:element minOccurs="1" name="Aurigabatchid" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Batchid" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Cardbrand" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Currency" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Date" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Amount" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="AmountCredit" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TransactionItem">
        <xs:sequence>
          <xs:element minOccurs="1" name="Id" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Ordernumber" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Purchasedate" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Captureamount" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Currency" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Capturedate" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Type" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="java:se.posten.pbv.webservice" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://pbv.posten.se/webservice" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="java:se.posten.pbv.payment.card.prepaid"/>
      <xs:import namespace="java:se.posten.pbv.db.batch"/>
      <xs:complexType name="AdminBatchListResponse">
        <xs:complexContent>
          <xs:extension base="java:AdminResponse" xmlns:java="java:se.posten.pbv.webservice">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="BatchList" nillable="true" type="java1:BatchItem" xmlns:java1="java:se.posten.pbv.db.batch"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="AdminResponse">
        <xs:sequence>
          <xs:element minOccurs="1" name="Status" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="StatusCode" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Customerrefno" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Comment" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="TransactionId" nillable="true" type="xs:string"/>
          <xs:element minOccurs="1" name="Mac" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AdminTransactionListResponse">
        <xs:complexContent>
          <xs:extension base="java:AdminResponse" xmlns:java="java:se.posten.pbv.webservice">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="TransactionList" nillable="true" type="java1:TransactionItem" xmlns:java1="java:se.posten.pbv.payment.card.prepaid"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="AdminBatchResponse">
        <xs:complexContent>
          <xs:extension base="java:AdminResponse" xmlns:java="java:se.posten.pbv.webservice">
            <xs:sequence>
              <xs:element minOccurs="1" name="BatchItem" nillable="true" type="java1:BatchItem" xmlns:java1="java:se.posten.pbv.db.batch"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="TransactionList" nillable="true" type="java1:TransactionItem" xmlns:java1="java:se.posten.pbv.db.batch"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="AdminBalanceResponse">
        <xs:complexContent>
          <xs:extension base="java:AdminResponse" xmlns:java="java:se.posten.pbv.webservice">
            <xs:sequence>
              <xs:element minOccurs="1" name="BalanceInquiry" nillable="true" type="java1:BalanceInquiry" xmlns:java1="java:se.posten.pbv.payment.card.prepaid"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="AdminExtendedResponse">
        <xs:complexContent>
          <xs:extension base="java:AdminResponse" xmlns:java="java:se.posten.pbv.webservice">
            <xs:sequence>
              <xs:element minOccurs="1" name="AuthCode" nillable="true" type="xs:string"/>
              <xs:element minOccurs="1" name="PaymentMethod" nillable="true" type="xs:string"/>
              <xs:element minOccurs="1" name="CardType" nillable="true" type="xs:string"/>
              <xs:element minOccurs="1" name="AuthorizedAmount" nillable="true" type="xs:long"/>
              <xs:element minOccurs="1" name="FeeAmount" nillable="true" type="xs:long"/>
              <xs:element minOccurs="1" name="RiskScore" nillable="true" type="xs:string"/>
              <xs:element minOccurs="1" name="ThreeDSecure" nillable="true" type="xs:string"/>
              <xs:element minOccurs="1" name="BatchId" nillable="true" type="xs:long"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="AdminPingResponse">
        <xs:complexContent>
          <xs:extension base="java:AdminResponse" xmlns:java="java:se.posten.pbv.webservice">
            <xs:sequence>
              <xs:element minOccurs="1" name="DateTime" nillable="true" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="AdminPrepaidQueryResponse">
        <xs:complexContent>
          <xs:extension base="java:AdminResponse" xmlns:java="java:se.posten.pbv.webservice">
            <xs:sequence>
              <xs:element minOccurs="1" name="PrepaidStatus" nillable="true" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </s0:types>
  <s0:message name="recurPay">
    <s0:part element="s1:recurPay" name="parameters"/>
  </s0:message>
  <s0:message name="recurPayResponse">
    <s0:part element="s1:recurPayResponse" name="parameters"/>
  </s0:message>
  <s0:message name="ping">
    <s0:part element="s1:ping" name="parameters"/>
  </s0:message>
  <s0:message name="pingResponse">
    <s0:part element="s1:pingResponse" name="parameters"/>
  </s0:message>
  <s0:message name="supAuth">
    <s0:part element="s1:supAuth" name="parameters"/>
  </s0:message>
  <s0:message name="supAuthResponse">
    <s0:part element="s1:supAuthResponse" name="parameters"/>
  </s0:message>
  <s0:message name="query">
    <s0:part element="s1:query" name="parameters"/>
  </s0:message>
  <s0:message name="queryResponse">
    <s0:part element="s1:queryResponse" name="parameters"/>
  </s0:message>
  <s0:message name="balanceInquiry">
    <s0:part element="s1:balanceInquiry" name="parameters"/>
  </s0:message>
  <s0:message name="balanceInquiryResponse">
    <s0:part element="s1:balanceInquiryResponse" name="parameters"/>
  </s0:message>
  <s0:message name="creditAnnul">
    <s0:part element="s1:creditAnnul" name="parameters"/>
  </s0:message>
  <s0:message name="creditAnnulResponse">
    <s0:part element="s1:creditAnnulResponse" name="parameters"/>
  </s0:message>
  <s0:message name="batchList">
    <s0:part element="s1:batchList" name="parameters"/>
  </s0:message>
  <s0:message name="batchListResponse">
    <s0:part element="s1:batchListResponse" name="parameters"/>
  </s0:message>
  <s0:message name="confirm">
    <s0:part element="s1:confirm" name="parameters"/>
  </s0:message>
  <s0:message name="confirmResponse">
    <s0:part element="s1:confirmResponse" name="parameters"/>
  </s0:message>
  <s0:message name="multiquery">
    <s0:part element="s1:multiquery" name="parameters"/>
  </s0:message>
  <s0:message name="multiqueryResponse">
    <s0:part element="s1:multiqueryResponse" name="parameters"/>
  </s0:message>
  <s0:message name="getBatch">
    <s0:part element="s1:getBatch" name="parameters"/>
  </s0:message>
  <s0:message name="getBatchResponse">
    <s0:part element="s1:getBatchResponse" name="parameters"/>
  </s0:message>
  <s0:message name="uccheck">
    <s0:part element="s1:uccheck" name="parameters"/>
  </s0:message>
  <s0:message name="uccheckResponse">
    <s0:part element="s1:uccheckResponse" name="parameters"/>
  </s0:message>
  <s0:message name="capture">
    <s0:part element="s1:capture" name="parameters"/>
  </s0:message>
  <s0:message name="captureResponse">
    <s0:part element="s1:captureResponse" name="parameters"/>
  </s0:message>
  <s0:message name="credit">
    <s0:part element="s1:credit" name="parameters"/>
  </s0:message>
  <s0:message name="creditResponse">
    <s0:part element="s1:creditResponse" name="parameters"/>
  </s0:message>
  <s0:message name="transactionList">
    <s0:part element="s1:transactionList" name="parameters"/>
  </s0:message>
  <s0:message name="transactionListResponse">
    <s0:part element="s1:transactionListResponse" name="parameters"/>
  </s0:message>
  <s0:message name="query2">
    <s0:part element="s1:query2" name="parameters"/>
  </s0:message>
  <s0:message name="query2Response">
    <s0:part element="s1:query2Response" name="parameters"/>
  </s0:message>
  <s0:message name="multiquery2">
    <s0:part element="s1:multiquery2" name="parameters"/>
  </s0:message>
  <s0:message name="multiquery2Response">
    <s0:part element="s1:multiquery2Response" name="parameters"/>
  </s0:message>
  <s0:message name="authRev">
    <s0:part element="s1:authRev" name="parameters"/>
  </s0:message>
  <s0:message name="authRevResponse">
    <s0:part element="s1:authRevResponse" name="parameters"/>
  </s0:message>
  <s0:message name="annul">
    <s0:part element="s1:annul" name="parameters"/>
  </s0:message>
  <s0:message name="annulResponse">
    <s0:part element="s1:annulResponse" name="parameters"/>
  </s0:message>
  <s0:message name="prepaidQuery">
    <s0:part element="s1:prepaidQuery" name="parameters"/>
  </s0:message>
  <s0:message name="prepaidQueryResponse">
    <s0:part element="s1:prepaidQueryResponse" name="parameters"/>
  </s0:message>
  <s0:message name="recurPay2">
    <s0:part element="s1:recurPay2" name="parameters"/>
  </s0:message>
  <s0:message name="recurPay2Response">
    <s0:part element="s1:recurPay2Response" name="parameters"/>
  </s0:message>
  <s0:portType name="AdminPortType">
    <s0:operation name="recurPay" parameterOrder="parameters">
      <s0:input message="s1:recurPay"/>
      <s0:output message="s1:recurPayResponse"/>
    </s0:operation>
    <s0:operation name="ping" parameterOrder="parameters">
      <s0:input message="s1:ping"/>
      <s0:output message="s1:pingResponse"/>
    </s0:operation>
    <s0:operation name="supAuth" parameterOrder="parameters">
      <s0:input message="s1:supAuth"/>
      <s0:output message="s1:supAuthResponse"/>
    </s0:operation>
    <s0:operation name="query" parameterOrder="parameters">
      <s0:input message="s1:query"/>
      <s0:output message="s1:queryResponse"/>
    </s0:operation>
    <s0:operation name="balanceInquiry" parameterOrder="parameters">
      <s0:input message="s1:balanceInquiry"/>
      <s0:output message="s1:balanceInquiryResponse"/>
    </s0:operation>
    <s0:operation name="creditAnnul" parameterOrder="parameters">
      <s0:input message="s1:creditAnnul"/>
      <s0:output message="s1:creditAnnulResponse"/>
    </s0:operation>
    <s0:operation name="batchList" parameterOrder="parameters">
      <s0:input message="s1:batchList"/>
      <s0:output message="s1:batchListResponse"/>
    </s0:operation>
    <s0:operation name="confirm" parameterOrder="parameters">
      <s0:input message="s1:confirm"/>
      <s0:output message="s1:confirmResponse"/>
    </s0:operation>
    <s0:operation name="multiquery" parameterOrder="parameters">
      <s0:input message="s1:multiquery"/>
      <s0:output message="s1:multiqueryResponse"/>
    </s0:operation>
    <s0:operation name="getBatch" parameterOrder="parameters">
      <s0:input message="s1:getBatch"/>
      <s0:output message="s1:getBatchResponse"/>
    </s0:operation>
    <s0:operation name="uccheck" parameterOrder="parameters">
      <s0:input message="s1:uccheck"/>
      <s0:output message="s1:uccheckResponse"/>
    </s0:operation>
    <s0:operation name="capture" parameterOrder="parameters">
      <s0:input message="s1:capture"/>
      <s0:output message="s1:captureResponse"/>
    </s0:operation>
    <s0:operation name="credit" parameterOrder="parameters">
      <s0:input message="s1:credit"/>
      <s0:output message="s1:creditResponse"/>
    </s0:operation>
    <s0:operation name="transactionList" parameterOrder="parameters">
      <s0:input message="s1:transactionList"/>
      <s0:output message="s1:transactionListResponse"/>
    </s0:operation>
    <s0:operation name="query2" parameterOrder="parameters">
      <s0:input message="s1:query2"/>
      <s0:output message="s1:query2Response"/>
    </s0:operation>
    <s0:operation name="multiquery2" parameterOrder="parameters">
      <s0:input message="s1:multiquery2"/>
      <s0:output message="s1:multiquery2Response"/>
    </s0:operation>
    <s0:operation name="authRev" parameterOrder="parameters">
      <s0:input message="s1:authRev"/>
      <s0:output message="s1:authRevResponse"/>
    </s0:operation>
    <s0:operation name="annul" parameterOrder="parameters">
      <s0:input message="s1:annul"/>
      <s0:output message="s1:annulResponse"/>
    </s0:operation>
    <s0:operation name="prepaidQuery" parameterOrder="parameters">
      <s0:input message="s1:prepaidQuery"/>
      <s0:output message="s1:prepaidQueryResponse"/>
    </s0:operation>
    <s0:operation name="recurPay2" parameterOrder="parameters">
      <s0:input message="s1:recurPay2"/>
      <s0:output message="s1:recurPay2Response"/>
    </s0:operation>
  </s0:portType>
  <s0:binding name="AdminServiceSoapBinding" type="s1:AdminPortType">
    <s2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <s0:operation name="recurPay">
      <s2:operation soapAction="" style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
    <s0:operation name="ping">
      <s2:operation soapAction="" style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
    <s0:operation name="supAuth">
      <s2:operation soapAction="" style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
    <s0:operation name="query">
      <s2:operation soapAction="" style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
    <s0:operation name="balanceInquiry">
      <s2:operation soapAction="" style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
    <s0:operation name="creditAnnul">
      <s2:operation soapAction="" style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
    <s0:operation name="batchList">
      <s2:operation soapAction="" style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
    <s0:operation name="confirm">
      <s2:operation soapAction="" style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
    <s0:operation name="multiquery">
      <s2:operation soapAction="" style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
    <s0:operation name="getBatch">
      <s2:operation soapAction="" style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
    <s0:operation name="uccheck">
      <s2:operation soapAction="" style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
    <s0:operation name="capture">
      <s2:operation soapAction="" style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
    <s0:operation name="credit">
      <s2:operation soapAction="" style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
    <s0:operation name="transactionList">
      <s2:operation soapAction="" style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
    <s0:operation name="query2">
      <s2:operation soapAction="" style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
    <s0:operation name="multiquery2">
      <s2:operation soapAction="" style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
    <s0:operation name="authRev">
      <s2:operation soapAction="" style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
    <s0:operation name="annul">
      <s2:operation soapAction="" style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
    <s0:operation name="prepaidQuery">
      <s2:operation soapAction="" style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
    <s0:operation name="recurPay2">
      <s2:operation soapAction="" style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
  </s0:binding>
  <s0:service name="AdminService">
    <s0:port binding="s1:AdminServiceSoapBinding" name="AdminServicePort">
      <s2:address location="https://epayment.auriganet.eu:443/webservice/AdminService"/>
    </s0:port>
  </s0:service>
</s0:definitions>